
@font-face {
    font-family: "Peyda";
    src: url("font/peyda/PeydaWeb/eot/PeydaWeb-Regular.eot");
    src: url("font/peyda/PeydaWeb/ttf/Peyda-Regular.ttf") format("truetype");
    src: url("font/peyda/PeydaWeb/woff/PeydaWeb-Regular.woff") format("woff");
    src: url("font/peyda/PeydaWeb/woff2/PeydaWeb-Regular.woff2") format("woff2");
}
*{
    font-family: "Peyda";
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
  }
  
  .app-container {
    width: 100%;
    min-width: 320px; /* حداقل عرض برای موبایل‌های خیلی کوچک (مثل iPhone SE) */
    max-width: 430px; /* حداکثر عرض برای موبایل‌های بزرگ‌تر (مثل iPhone 14 Pro Max) */
    min-height: 100vh; /* حداقل ارتفاع برابر ارتفاع صفحه */
    max-height: 812px; /* حداکثر ارتفاع مثل آیفون X */
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
   
    overflow: hidden;
   
  }